<!DOCTYPE html>
<html>
  <head>
    <title>Capybara guides</title>
    <%= stylesheet_link_tag    "capybara/guides/application", media: "all" %>
    <%= javascript_include_tag "capybara/guides/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
