<% content_for :title do %>
  <%= @guide.browser_title %>
<% end %>
<h1><%= @guide.title %></h1>
<ol class="steps">
  <% @guide.steps.each do |step| %>
    <li>
      <%= render partial: step.partial, locals: { step: step } %>
    </li>
  <% end %>
</ol>
