<% content_for :title do %>
  <%= @guide.browser_title %>
<% end %>
<h1><%= @guide.title %></h1>
<ol class="steps">
  <% @guide.new_steps.each do |new_step| %>
    <li>
      <%= render partial: new_step.partial, locals: { step: new_step } %>
    </li>
  <% end %>
</ol>
